# Node.js
node_modules/
npm-debug.log
yarn-debug.log
yarn-error.log
.env
.DS_Store

# Logs
logs
*.log

# OS
Thumbs.db
.DS_Store

# IDE
.vscode/
.idea/
*.swp

# Build
/dist/
/build/

# Coverage
coverage/

# Misc
*.local
*.cache

# Mac
__MACOSX/

# Others
*.tgz
*.gz
*.zip

# MongoDB
*.mongodb
